*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color : black;
}

body{
    background: #201f1f;
}
header {
    background-color: white;
}
header .logo img{
    background-color: white;
    width: 5rem;
    height: auto;
    right: 10px;
}
header .menu{
    right: 10px;
    top: 25px;
    position: absolute;
}
header ul{
    list-style-type: none;
}
header .menu a{
    text-decoration: none;
    color: black;
}
header li{
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    padding: 3px;   
}
.titolopag{
    background-color: yellow;
    size: 20 px;
    text-align: center;
}

.veicoli{
    color: white;
    background-color: #201f1f;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.veicoli .veicolo{ 
    background-color: #2b2b2b;
    border-radius: 10px;
    border-color: #2b2b2b;
    border-style: solid;
    margin:5px;
    padding:5px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.veicoli .veicolo img{
    height: 12rem;
    width: 23rem;
    object-fit: cover;
    border-radius: 1rem;
}
.veicoli .veicolo .mm {
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
}

.veicoli .veicolo .posti{
    margin-top: 25px;
}

.veicoli .veicolo .prezzo{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;

}

.veicoli a{
    background-color: yellow;
    border-radius: 10px;
    border-style: solid;
    border-color: yellow;
    padding: 0 60px;
    margin: 3rem 0;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    position: bottom;
}

